<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Urbantest - Data Pasien</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Pasien Apps">
<meta name="author" content="Debby Sischa">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../public/bootstrap/dist/css/bootstrap.min.css" type="text/css">
</head>
<body>
    <div >
        <h2 style="color:black; text-align:center">Urbanhire Test</h2>
        <p style="color:black; text-align:center"; font-size:4;><font size="2"><i>( login dengan <b>admin/admin</b> )</i></font></p>
    </div>
    <div class="container">
        <div class = ".col-sm-6" style="margin:80px;">
        <form role="form" method="post" action="/">
            <div class="col3">
                <label for="username">ID</label>
                <input size="100" type="text" class="form-control" name="username" id="username" placeholder="Masukkan Username Kamu" required>
            </div>
            <div class="col3">
                <label for="password">Nama</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Masukkan Password Kamu" required>
            </div>
            <br/>
            <button type="submit" class="btn btn-danger" id="login-user">Login</button>
        </form>
        </div>
    </div>
</body>
</html>